<ion-header>
	<ion-toolbar>
		<ion-title color="primary" class="home-page-title">
			Bar Code Scan Reader
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="body-text">
			This Application born to test ionic functionalities, starting from a barcode scanner.
		</div>
		<div class="center-text">
			<ion-text color="primary">
				Please press the button to begin the scan!
			</ion-text>
		</div>
		<div class="flex-center-container button-area">
			<ion-button class="flex-auto-row" color="primary" (click)="openBarCodeScanner()">Scan a Barcode</ion-button>
		</div>
		<div class="flex-center-container button-area">
			<ion-button class="flex-auto-row" color="success" (click)="openTestBarCodeScanner()"
				>Test a Barcode</ion-button
			>
		</div>
	</div>
</ion-content>
