// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

ion-loading.ionic-loader {
	.loading-wrapper {
		background: transparent;
		box-shadow: none;
		width: 200px !important;
		height: 200px !important;
	}
}

ion-loading ion-spinner {
	transform: scale(4);
}

.flex-auto-row {
	flex: 0 0 auto;
}

.button-area {
	margin-top: 4em;
	margin-bottom: 4em;
}

.flex-center-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.center-text {
	text-align: center;
}
